@font-face {
    font-family: roboto;
    font-weight: 300;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto;
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}

.attach_money::before{
	content: '\e227';
}

.arrow_back::before{
	content: '\e5c4';
}

.keyboard_arrow_down::before{
	content: '\e313';
}

.input-field .close{
	position: absolute;
    right: 10px;
    bottom: 17px;
    opacity: 1;
    transition: .35s;
}

.input-field .close.hidden{
	opacity: 0;
}

.pokedex-element:not(.active){
	display: none;
}

nav h1{
	flex-grow: 1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

body{
	font-family: roboto;
	margin-bottom: 76px;
}

:focus {
    outline: none!important;
}

nav{
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 999;
}

.collapsible{
	box-shadow: none;
	border: none;
}

.collapsible li{
	box-shadow: 0 8px 17px 2px rgba(0,0,0,0.1), 0 3px 14px 2px rgba(0,0,0,0.01), 0 5px 5px -3px rgba(0,0,0,0.01);
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
}

.collapsible li > div{
	border: none;
}

.collapsible li .collapsible-header{
	background-color: transparent;
    flex-direction: column;
}

.collapsible li .collapsible-header span.title{
	font-size: 18px;
    color: rgba(0,0,0,.7);
    margin-bottom: 15px;
}

.collapsible-header a{
	width: 150px;
}

.collapsible-body{
	padding: 0;
}

.collapsible-body > div{
	padding: 1rem;
	border-bottom: 1px solid #e0e0e0;
}

.collapsible-body > div:nth-child(1){
	border-top: 1px solid #bdbdbd;
}

.collapsible-body > div:nth-child(even){
	background-color: #fafafa;
}

#app-body{
    padding: 76px 15px 0 15px;
}

#app-body > div{
	display: none;
}

#app-body > div.active-section{
	display: block;
}

nav #backButton{
	margin: 0 18px;
}

.sidenav .subheader{
	border-bottom: 1px solid #e0e0e0;
	margin-top: 10px;
}

.sidenav li:nth-child(1) .subheader{
	margin-top: 10px;
}

h1{
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

h6{
    margin-top: .46rem;
}

.collection .collection-item.avatar p.recipe-target{
	margin-top: 5px;
	margin-bottom: 10px;
}

.get-recipes-btn{
	margin-right: 15px;
}

.collection .collection-item.avatar .title{
	font-size: 18px;
}

.collection{
	border: none;
	overflow: initial;
}

.collection.with-header{
	border-top: 0;
}

.collection.with-header .collection-item{
	padding: 1rem;
}

.modal .collection.with-header .collection-item{
	padding: 5px 30px;
}

.modal.bottom-sheet{
	max-height: 52%;
}

.collection .collection-item:nth-child(odd){
	background-color: #fafafa;
}

.collection .collection-item.avatar{
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.1), 0 3px 14px 2px rgba(0,0,0,0.01), 0 5px 5px -3px rgba(0,0,0,0.01);
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
}

.modal.bottom-sheet{
	outline: 0!important;
}

.btn-small{
	padding: 0 10px;
}

.autocomplete-content li img{
    border-radius: 0!important;
}

.collection.with-image .collection-header{
	display: flex;
	align-items: center;
}

.collection.with-image .collection-header img{
	width: 45px;
	height: 45px;
}

.collection.with-image .collection-header h6{
	margin: 0;
	margin-left: 15px;
}

.collection.with-image{
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    overflow: auto;
    margin-bottom: 30px;
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.1), 0 3px 14px 2px rgba(0,0,0,0.01), 0 5px 5px -3px rgba(0,0,0,0.01);
}

#credits ul{
	border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    padding-left: 30px;
}

#credits li {
	margin-bottom: 15px;
}

#credits li a{
	font-size: 1.3rem;
}

.is-ios nav#navigation,
.is-ios ul#slide-out{
   position: fixed;
   box-sizing: content-box;
   padding-top: 1.35rem; 
   padding-top: calc(constant(safe-area-inset-top) + .5rem); 
   padding-top: env(constant(safe-area-inset-top) + .5rem);
}

.modal.bottom-sheet{
	border-top-left-radius: 15px!important;
	border-top-right-radius: 15px!important;
}

.modal .collection-item{
	display: flex;
	align-items: center;
	font-size: 1.2em;
}

.modal .collection-item img{
	max-width: 30px;
	margin-right: 10px;
}

.pokemon-list-in-recipe{
	margin: -1rem;
	margin-bottom: 0;
	margin-top: 0;
}

.pokemon-list-in-recipe .pokemon-title:nth-child(odd){
	padding-left: 1rem;
}

.pokemon-list-in-recipe .pokemon-title:nth-child(even){
	padding-right: 1rem;
}

.pokemon-list-in-recipe .pokemon-title:nth-last-child(1),
.pokemon-list-in-recipe .pokemon-title:nth-last-child(2){
	border-bottom: 0;
}

.pokemon-list-in-recipe .pokemon-title{
	width: 50%;
	float: left;
	margin-bottom: 5px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
	height: 38px;
}
.pokemon-list-in-recipe .pokemon-title img{
	max-width: 30px;
	margin-right: 10px;
}

.ingredient-list{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.ingredient-image-list{
	max-width: 30px;
	padding-top: 1rem;
	padding-bottom: 1rem;
    box-sizing: content-box;
}

.ingredient-image-list:first-child{
	padding-left: 1rem;
}

.ingredient-image-list:last-child{
	padding-right: 1rem;
}

.collection-container > div{
	margin-bottom: 15px;
	position: relative;
}

.collection-container > div.last{
	margin-bottom: 45px;
}

#pokedex .input-field{
	margin-top: 0;
}

.pokedex-element{
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.1), 0 3px 14px 2px rgba(0,0,0,0.01), 0 5px 5px -3px rgba(0,0,0,0.01);
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
}

.pokedex-element .pokemon-evo{
    padding: 15px;
    border-right: 1px solid #e0e0e0;
}

.pokedex-element .pokemon-name{
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.pokedex-element .pokemon-image{
	width: 45px;
}

.pokedex-element .pokemon-info{
	display: flex;
	min-height: 130px;
}

.pokedex-element .evolution{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.pokedex-element .evolution span{
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
}

.pokedex-element .evolution i{
	line-height: 10px;
}

.pokemon-name h5{
	font-size: 16px;
	margin: 0;
}

.pokemon-name h6{
	font-size: 14px;
	margin: 0;
}

.pokedex-element .pokemon-actions{
	margin-top: 0;
}

.pokedex-element .pokemon-actions a{
	margin-right: 10px;
}

.modal-recipes .recipe-div{
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid #ededed;
}

.modal-heading{
	display: flex;
	padding: 1rem;
	align-items: center;
	border-bottom: 1px solid #c2c2c2;
}

.modal-heading img{
	margin-right: 10px;
	max-width: 30px;
}

.modal-moves .moves-name{
	padding: .5rem 1rem;
	border-bottom: 1px solid #efefef;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal-moves .moves-name h6{
	font-weight: 700;
}

.modal-moves .moves-name span{
	line-height: 1;
	padding: 5px 12px;
	min-width: 65px;
	text-align: center;
	text-transform: capitalize;
	border-radius: 25px;
	color: white;
}

.modal-moves .moves-name span.grass{
	background-color: #42A046;
}

.modal-moves .moves-name span.normal{
	background-color: #eeeeee;
	color: black;
}

.modal-moves .moves-name span.poison{
	background-color: #8E25AA;
}

.modal-moves .moves-name span.fire{
	background-color: #D42E2F;
}

.modal-moves .moves-name span.steel{
	background-color: #757575;
}

.modal-moves .moves-name span.dragon{
	background-color: #651FFF;
}

.modal-moves .moves-name span.water{
	background-color: #0d47a1;
}

.modal-moves .moves-name span.ice{
	background-color: #e3f2fd;
	color: black;
}

.modal-moves .moves-name span.bug{
	background-color: #cddc39;
	color: black;
}

.modal-moves .moves-name span.electric{
	background-color: #ffeb3b;
	color: black;
}

.modal-moves .moves-name span.flying{
	background-color: #80cbc4;
	color: black;
}

.modal-moves .moves-name span.ground{
	background-color: #6d4c41;
}

.modal-moves .moves-name span.psychic{
	background-color: #d500f9;
}

.modal-moves .moves-name span.dark{
	background-color: #000000;
}

.modal-moves .moves-name span.rock{
	background-color: #4e342e ;
}

.modal-moves .moves-name span.fighting{
	background-color: #C03028;
}
.modal-moves .moves-name span.fairy{
	background-color: #f8bbd0;
	color: black;
}

.modal-moves .moves-name span.ghost{
	background-color: #311C92; 
}

.modal-moves .moves-description{
	padding: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-bottom: 1px solid #e0e0e0;
}

.modal-moves .moves-name > *,
.modal-moves .moves-description > *{
	margin: 0;
}

.modal.bottom-sheet .modal-heading{
	position: fixed;
	left: 0;
	right: 0;
	background-color: white;
}

.modal.bottom-sheet > div:nth-child(2){
	padding-top: 59px;
}