@font-face {
    font-family: roboto;
    font-weight: 300;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto;
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}

body{
	font-family: roboto;
}

/*section{
	position: absolute;
	left: 100%;
	right: 0;
	top: 0;
	transition: opacity 0.3s, left 0.45s;
	background-color: white;
	opacity: 0;
	width: 0;
	overflow-y: hidden;
}

section.homepage{
	left: 0;
}

section.active{
	left: 0;
	opacity: 1;
	width: 100%;
}*/

.tabs{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.collection .collection-item.avatar p.recipe-target{
	margin-top: 5px;
	margin-bottom: 10px;
}

.get-recipes-btn{
	margin-right: 15px;
}

.collection .collection-item.avatar .title{
	font-size: 18px;
}

.modal.bottom-sheet{
	outline: 0!important;
}

/* .backToHomepage{
	font-size: 24px;
}

Homepage

.recipe{
	display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    border-bottom: 1px solid #ccc;
}

.recipe:first-child{
	border-bottom: 1px solid black;
}

.recipe > div{
	padding: 15px;
}

Filtered recipe page
.filtered-recipe{
	display: grid;
	grid-template-columns: 50% 5% 45%;
	border-bottom: 1px solid #ccc;
}

.filtered-recipe-head .filtered-recipe{
	border-bottom: 1px solid black;
}

.filtered-recipe > div{
	padding: 15px;
} */

