@font-face {
    font-family: roboto;
    font-weight: 300;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto;
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}

body{
	font-family: roboto;
	margin-bottom: 76px;
}

:focus {
    outline: none!important;
}

nav{
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 999;
}

.collapsible{
	box-shadow: none;
	border: none;
}

.collapsible li{
	box-shadow: 0 8px 17px 2px rgba(0,0,0,0.1), 0 3px 14px 2px rgba(0,0,0,0.01), 0 5px 5px -3px rgba(0,0,0,0.01);
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
}

.collapsible li > div{
	border: none;
}

.collapsible li .collapsible-header{
	background-color: transparent;
    flex-direction: column;
}

.collapsible li .collapsible-header span.title{
	font-size: 18px;
    color: rgba(0,0,0,.7);
    margin-bottom: 15px;
}

.collapsible-header a{
	width: 150px;
}

.collapsible-body{
	padding: 0;
}

.collapsible-body > div{
	padding: 1rem;
	border-bottom: 1px solid #e0e0e0;
}

.collapsible-body > div:nth-child(1){
	border-top: 1px solid #bdbdbd;
}

.collapsible-body > div:nth-child(even){
	background-color: #fafafa;
}

#app-body{
    padding: 76px 15px 0 15px;
}

#app-body > div{
	display: none;
}

#app-body > div.active-section{
	display: block;
}

nav #backButton{
	margin: 0 18px;
}

.sidenav .subheader{
	border-bottom: 1px solid #e0e0e0;
	margin-top: 10px;
}

.sidenav li:nth-child(1) .subheader{
	margin-top: 10px;
}

h1{
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

h6{
    margin-top: .46rem;
}

.collection .collection-item.avatar p.recipe-target{
	margin-top: 5px;
	margin-bottom: 10px;
}

.get-recipes-btn{
	margin-right: 15px;
}

.collection .collection-item.avatar .title{
	font-size: 18px;
}

.collection{
	border: none;
	overflow: initial;
}

.collection.with-header{
	border-top: 0;
}

.collection.with-header .collection-item{
	padding: 5px 30px;
}

.modal.bottom-sheet{
	max-height: 52%;
}

.collection .collection-item:nth-child(odd){
	background-color: #fafafa;
}

.collection .collection-item.avatar{
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.1), 0 3px 14px 2px rgba(0,0,0,0.01), 0 5px 5px -3px rgba(0,0,0,0.01);
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
}

.modal.bottom-sheet{
	outline: 0!important;
}

.btn-small{
	padding: 0 10px;
}

.input-field .prefix ~ input.pkmn-autocomplete{
	width: calc(100% - 150px);
}

a#startPkmnSearch{
	margin-left: 15px;
}

.collection.with-image .collection-header{
	display: flex;
	align-items: center;
}

.collection.with-image .collection-header img{
	width: 45px;
	height: 45px;
}

.collection.with-image .collection-header h6{
	margin: 0;
	margin-left: 15px;
}

.collection.with-image{
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    overflow: auto;
    margin-bottom: 30px;
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.1), 0 3px 14px 2px rgba(0,0,0,0.01), 0 5px 5px -3px rgba(0,0,0,0.01);
}




