section{
	position: absolute;
	left: 100%;
	right: 0;
	bottom: 0;
	top: 0;
	transition: opacity 0.3s, left 0.75s;
	background-color: white;
	opacity: 0;
}

section.homepage{
	left: 0;
}

section.active{
	left: 0;
	opacity: 1;
}

.recipe{
	display: grid;
	grid-template-columns: 50% auto 45%;
	border-bottom: 1px solid #ccc;
}

.recipe:first-child{
	border-bottom: 1px solid black;
}

.recipe > div{
	padding: 15px;
}